body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#text {
  font-size: 1.5rem;
}

#author {
  font-size: 1.2rem;
  text-align: right;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button,
.btn {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover,
.btn:hover {
  opacity: 0.8;
}
